snippet desc
  describe('${1:spec}', function() {
    ${2}
  });
snippet it
  it('${1:should}', function(done) {
    ${2}
    done();
  });
snippet bef
  before(function(done) {
    ${0}
    done();
  });
snippet aft
  after(function(done) {
    ${0}
    done();
  });
snippet befe
  beforeEach(function(done) {
    ${0}
    done();
  });
snippet afte
  afterEach(function(done) {
    ${0}
    done();
  });
